.phone__app {
    background-color: #54e801;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -.05em -.05em .2em #54e80188;
}

.phone__app__handle {
    height: 15%;
    width: 80%;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    transform: rotateZ(45deg);
}

.phone__app__speaker {
    height: 25%;
    width: 25%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 20%;
    top: 12%;
    transform: rotateZ(45deg);
}

.phone__app__mic {
    height: 25%;
    width: 25%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    right: 15%;
    bottom: 23%;
    transform: rotateZ(45deg);
}
